@model BlueLibrary.Models.User

@{
    ViewData["Title"] = "AccessDenied";
    Layout = "_LoginLayout";
}

<h2>You are not authorized to access this page.</h2>

<a asp-action="Logout">Click here</a> to signin using a different user
