@model BlueLibrary.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 flex-row">
    <div class="flx2">
        <a class="navbar-brand"><img src="~/images/BlueLibraryLogo.png" /></a>
    </div>
    <div class="absolute-center">
        <h1>Register a New User</h1>
    </div>
</nav>
<hr />
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error</div>
        }
        <div>
            Already registered? <a asp-action="Login">Click here</a> to login
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
