@model IEnumerable<BlueLibrary.Models.Book>

@{
    ViewData["Title"] = "Watch Books";
}

<form asp-action="Search">
    <input name="title" placeholder="Search by book title" />
    <input name="author" placeholder="Search by author" />
    <input name="publisherName" placeholder="Search by publisher" />
    <br />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>

<h1>Here are the books:</h1>
<div class="container-fluid content-row card-container">
    @foreach (var book in Model)
    {
    <div style="padding-bottom: 30px">
        <div class="card" style="width: 18rem">
            @if (book.Image != null)
            {
                <img class="card-img-top" height="300" src="~/images/@book.Image.ImageURL" alt="Card image cap">
            }
            <h4 class="card-title"><b>@book.BookName</b></h4>
            <p>Author: @book.Author</p>
            <div class="card-body">
                <p class="card-text" title="@book.Description">@book.Description</p>
            </div>
        </div>
    </div>
    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
