@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Welcome to the Blue Library</h1>
    <h3 id="best-library">This is the best library ever!</h3>
    <p><b>We have many great books with a variety of genres from the most creative authors ever!!!</b></p>
    <div><video height="400" autoplay loop muted controls src="~/videos/The_Joy_Of_Books.mp4"></video></div>
    <button id="view-books-button" type="button" class="btn btn-primary btn-lg">Check out our books!</button>
</section>
