@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BlueLibrary</h1>
    <h3>This is the best electronic library ever!</h3>
    <p><b>We have many great books with a variety of genres from the most creative authors ever!!!</b></p>
</div>
