@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"] - Blue Library</h1>

<div id="privacy">
    <h3>Our books are very private</h3>
    <p><b>If you choose to take one please return it on time</b></p>
    <section>
        You can find us on the <a href="/home/location">map</a>.<br />
        If you come please be quiet.<br />
        People are trying to read
    </section>
</div>