@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"] - Blue Library</h1>

<div id="privacy">
    <h3>Our books are very private</h3>
    <p><b>If you choose to take one please return it on time</b></p>
    <section id="privacy-info">
        You can find us on the <a id="location-link" href="/home/location">map</a>.
        If you come please be quiet.
        People are trying to read. Please don't eat inside the library.
        There's a resturant nearby.
        Our books are free to borrow!
        We maintain the right to fine you if the book is not returned on time!
        Copying the books is a serious crime and we will report you to the authors and publishers.
        All rights reserved!!!
    </section>
    <div id="random-tip">Random Tip For You: </div>
    <div id="canvas-tip-div">
        <canvas id="canvas-tip"> No support of canvas tag</canvas>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/get_advice.js"></script>